# Lab 1 ignore folder
Lab1/bin/
Lab1/obj/
Lab1/.vs/

# Lab 2 ignore folder
IntroToWebApplications-main/.vs/
IntroToWebApplications-main/IntroToWebApplications.6/bin/
IntroToWebApplications-main/IntroToWebApplications.6/obj/

#Lab 3 ignore folder
Lab3/.vs/
Lab3/Lab3/bin/
Lab3/Lab3/obj/

#Lab 4 ignore folders and file
Lab4/.vs/
Lab4/Lab4/bin/
Lab4/Lab4/obj/
Lab4/Lab4/appsettings.json
Lab4/Lab4/appsettings.Developement.json
