@page
@model Lab5.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Welcome!</h2>
    <h3>Predict "what will the earth/computer look like in 20 years"</h3>
</div>